.card {
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    overflow: hidden;

    .card-header {
        position: relative;
        img {
            width: 100%;
            height: auto;
        }
        .favorite-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            color: #fff;
}
}

.card-body {
    background-color: #fff;
    padding: 15px;
    text-align: center;

    h2 {
        color: #333;
        font-size: 1em;
        margin: 0;
        font-weight: bold;
    }

    .price {
        color: #333;
        font-size: 1.5em;
        margin: 5px 0;
    }

    .address {
        color: #777;
        font-size: 1em;
        margin-bottom: 15px;
    }

    .features {
        display: flex;
        justify-content: space-around;
        .feature {
            display: flex;
            align-items: center;
            img {
                margin-right: 5px;
            }
        }
    }
}

.card-footer {
    background-color: #f8f8f8;
    padding: 15px;
    display: flex;
    align-items: center;

    .realtor-info {
        display: flex;
        align-items: center;

        img {
            border-radius: 50%;
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }

        .realtor-name {
            color: #333;
            font-size: 1em;
            margin: 0;
        }

        .realtor-phone {
            color: #999;
            font-size: 0.8em;
        }
    }
}
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #ececec;
margin: 0;
}